
@model Encontros.Models.Encontro
@{
    ViewBag.Title = Model.Local.Nome + "-" + Model.DataDoEncontro.ToString("dd/MM/yyyy");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.NomeEncontro</h2>
<ul>
    <li>Local: @Model.Local.Nome</li>
    <li>Data do encontro: @Model.DataDoEncontro.ToString("dd/MM/yyyy")</li>
</ul>
<p>
    @Html.ActionLink("Editar", "Edit", "Encontros", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<br>
<p class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i><span>Selecionar imagens...</span><input id="fileupload" type="file" name="files[]" multiple>
</p>
<br>
<br>
<!-- The global progress bar -->
<div id="progress" class="progress" hidden>
    <div class="progress-bar progress-bar-success"></div>
</div>

@Html.HiddenFor(m => m.Id)

@section scripts
{
    @Scripts.Render("~/bundles/fileupload")
    <script>
        $(document).ready(function () {
            var id = $("#Id").attr("value");

            $('#fileupload').fileupload({
                url: "/encontros/UploadFiles/" + id,
                dataType: 'json',
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    //   $("#progress").show();
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).on('fileuploadadd', function (e, data) {
                $("#progress").show();
                // $("#progress").hide();
            }).on('fileuploaddone', function (e, data) {
                toastr.success("Foto carregada com sucesso!")
                $("#progress").hide();
            }).on('fileuploadfail', function (e, data) {
                toastr.error("Arquivo não é uma imagem!");
                $("#progress").hide();
            });


        });
    </script>
}