
@model Encontros.Models.Encontro
@{
    ViewBag.Title = Model.Local.Nome + "-" + Model.DataDoEncontro.ToString("dd/MM/yyyy");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.NomeEncontro</h2>
<ul>
    <li>Local: @Model.Local.Nome</li>
    <li>Data do encontro: @Model.DataDoEncontro.ToString("dd/MM/yyyy")</li>
</ul>
<p>
    @Html.ActionLink("Editar", "Edit", "Encontros", new { id = Model.Id }, new { @class = "btn btn-primary" })
</p>
<p class="btn btn-success fileinput-button">
    <i class="glyphicon glyphicon-plus"></i><span>Selecionar imagens...</span><input id="fileupload" type="file" name="files[]" multiple>
</p>
<!-- The global progress bar -->
<div id="progress" class="progress" hidden>
    <div class="progress-bar progress-bar-success"></div>
</div>

@if (Model.FotoEncontro.Any())
{
    <h3>Imagens do Encontro</h3>
    <div id="gallery" style="display:none;">

        @foreach (var foto in Model.FotoEncontro)
        {

            <img src="@foto.ImageUrl.Substring(1)"
                 data-image="@foto.ImageUrl.Substring(1)">
        }


        <!-- <img alt="Image 2 Title" src="/Fotos/AgHTLDC.png"
              data-image="/Fotos/AgHTLDC.png"
              data-description="Image 2 Description">-->

    </div>
}


@Html.HiddenFor(m => m.Id)

@section scripts
{
    @Scripts.Render("~/bundles/image")
    <script>

        var api;
        $(document).ready(function () {

            api = jQuery("#gallery").unitegallery({
                slider_scale_mode: "fit",
                gallery_images_preload_type: "minimal",
                theme_enable_text_panel: false
            });

            var id = $("#Id").attr("value");

            $('#fileupload').fileupload({
                url: "/encontros/UploadFiles/" + id,
                dataType: 'json',
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    //   $("#progress").show();
                    $('#progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                }
            }).on('fileuploadadd', function (e, data) {
                $("#progress").show();
                // $("#progress").hide();
            }).on('fileuploaddone', function (e, data) {
                toastr.success("Foto carregada com sucesso!")
                $("#progress").hide();
            }).on('fileuploadfail', function (e, data) {
                toastr.error("Arquivo não é uma imagem!");
                $("#progress").hide();
            });



        });
    </script>
}