
@model List<Encontros.Models.Encontro> 
@{
    ViewBag.Title = "Encontros";
}

<h2>Encontros</h2>

<p>
    @Html.ActionLink("Adicionar encontro!", "New", "Encontros", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-hover" id="encontros">
    <thead>
        <tr>
            <th class="no-sort">Encontro</th>
            <th>Local</th>
            <th>Data do Encontro</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var encontro in Model)
            {
            <tr>
                <td>@Html.ActionLink(encontro.NomeEncontro, "Details", "Encontros", new { id = encontro.Id}, null)</td>
                <td>@encontro.Local.Nome</td>
                <td>@encontro.DataDoEncontro.ToString("dd/MM/yyyy")</td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
@Scripts.Render("~/bundles/SortDateOnTable")
    <script>
        $(document).ready(function () {

            $.fn.dataTable.moment('DD/MM/YYYY', 'pt-BR');
            var tableLocais = $("#encontros").DataTable({
                "order": [[2, "desc"]],
                "language": {
                    "url": "/Scripts/data-table-portuguese.json"
                },
                columnDefs: [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });

            
        });
    </script>
}